body {
  background-color: #2f2f2f;
  color: #fff;
}
.stop {
  background-color: red;
  color: #fff;
  cursor: pointer;
  width: 60px;
  height: 30px;
}
.start {
  cursor: pointer;
  width: 60px;
  height: 30px;
}
.reset {
  cursor: pointer;
  background-color: #69ca08;
  color: #fff;
  width: 60px;
  height: 30px;
}
#main {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #02fa13;
  border-radius: 5px;
}
#container {
  display: flex;
  padding: 5px;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
}

#log {
  margin-top: 5px;
}
#buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
#content {
  margin-left: 20px;
  width: 650px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.title {
  text-align: center;
  color: red;
}
#logs {
  height: 300px;
  overflow-y: auto;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}
h1 {
  text-align: center;
}
#quote {
  font-weight: 800;
}
